<%# 
    PARAMETERS NEEDED:
    - status: pass | average | fails
    - code: string
    - description?: string
    - minRequirement?: string
    - automaticChecks?: string
    - failures?: string
    - content: HTML template
%>
<%
let icon = "";
switch (status) {
case 'pass':
    icon = '#it-check-circle';
    break;

case 'fail':
    icon = '#it-error';
    break;

default:
    icon = '#it-info-circle';
    break;
} %>


<!-- {
    code: this.code,
    id: this.auditId,
    title: this.auditData.title,
    failureTitle: this.auditData.failureTitle,
    description: this.auditData.description,
    scoreDisplayMode: this.SCORING_MODES.BINARY,
    requiredArtifacts: ["origin"],
}; -->

<div class="audit-content">
  <h2 class="h3 audit-title">
    <svg class="icon <%= status %>" aria-hidden="true">
      <use href="<%= icon %>"></use>
    </svg>
      <%=code%> - <%= mainTitle %>
  </h2>
  <div class="audit-description">
      <div class="accordion inner" id="collapse">
          <div class="accordion-item">
              <h2 class="accordion-header" id="accordion-inner-sch-first-level">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordion-collapse-sch-first-level" aria-expanded="false" aria-controls="accordion-collapse-sch-first-level">
                      Il sito della scuola deve presentare tutte le voci di menù di primo livello, nell'esatto ordine descritto dalla documentazione del modello di sito scolastico
                  </button>
              </h2>
              <div id="accordion-collapse-sch-first-level" class="accordion-collapse inner collapse" role="region" aria-labelledby="accordion-inner-sch-first-level">
                  <p>
                      <span class="h6 uppercase">Condizioni di successo:</span>
                      le voci del menù di primo livello del sito sono esattamente quelle indicate nel documento di architettura dell’informazione e sono nell’ordine indicato (ovvero Scuola, Servizi, Novità, Didattica) e tutte le pagine raggiungibili dal menu di primo livello appartengono al dominio della scuola;
                  </p>

                  <p>
                      <span class="h6 uppercase">Verifiche automatiche:</span>
                      ricercando uno specifico attributo "data-element" come spiegato nella Documentazione delle App di valutazione, vengono identificate le voci presenti nel menù del sito, il loro ordine e confrontate con quanto indicato nel documento di architettura dell\'informazione, applicando una tolleranza di massimo 3 voci aggiuntive. Inoltre, viene verificato che tutte le pagine raggiungibili dal menu di primo livello portino a pagine interne al dominio del sito della scuola; RIFERIMENTI TECNICI E NORMATIVI:
                  </p>

                  <p>
                      <span class="h6 uppercase">RIFERIMENTI TECNICI E NORMATIVI:</span>
                      <a target="_blank" href="https://docs.italia.it/italia/designers-italia/design-scuole-docs">Documentazione del Modello scuole</a>,
                      <a target="_blank" href="https://docs.italia.it/italia/designers-italia/app-valutazione-modelli-docs/">Documentazione delle App di valutazione</a>
                  </p>
              </div>
          </div>
      </div>

      <% if( !table.pagesInError.pages.length ) { %>
          <p>
              <span class="h5"> <%= statusMessage %> </span>
          </p>
      <% } %>

      <% if( table.pagesInError.pages.length ) { %>
          <p>
              <span class="h6 uppercase">Elementi di fallimento: </span><%= table.pagesInError.message %>
              %>
              <%- include('../../report/partials/audit/table', {table: table.pagesInError}) %>
          </p>
      <% } %>

      <% if( table.recapItems.pages.length ) { %>
        <p>
            <%- include('../../report/partials/audit/table', {table: table.recapItems}) %>
        </p>
    <% } %>

    <% if( table.pagesItems.pages.length ) { %>
        <p>
            <%- include('../../report/partials/audit/table', {table: table.pagesItems}) %>
        </p>
    <% } %>
  </div>
</div>