<a class="nav-link <%= index === 0 ? 'active' : '' %>" id="id-<%= id %>-btn" data-bs-toggle="tab" href="#id-<%= id %>" role="tab" aria-controls="id-<%= id %>">
  <div class="title">
    <%= label %> <%= code %>
    <span><%= mainTitle %></span>
  </div>
  <% if (status) { %>
    <div class="result">
      Risultato
      <span
              aria-labelledby="legend-<%- status %>"
              class="circle <%= status %>"
              title="<%- status === 'error' ? 'Errore' : status === 'fail' ? 'Fallito' : 'Superato' %>"
      >
      </span>
    </div>
  <% } %>
</a>