<a class="nav-link <%= index === 0 ? 'active' : '' %>" id="id-<%= id %>-btn" data-bs-toggle="tab" href="#id-<%= id %>" role="tab" aria-controls="id-<%= id %>">
  <div class="title">
    Raccomandazione <%= code %>
    <span><%= mainTitle %></span>
  </div>
  <% if(status){ %>
    <div class="result">
      Risultato
      <% if(status === 'error'){ %>
        <div class="circle <%= status %>">x</div>
      <% } else { %>
        <div class="circle <%= status %>"></div>
      <% } %>
    </div>
  <% } %>
</a>