<%# 
    PARAMETERS NEEDED:
    - status: pass | average | fails
    - code: string
    - description?: string
    - minRequirement?: string
    - automaticChecks?: string
    - failures?: string
    - content: HTML template
%>
<%

let icon = "";
switch (status) {
case 'pass':
    icon = '#it-check-circle';
    break;

case 'fail':
    icon = '#it-error';
    break;

default:
    icon = '#it-info-circle';
    break;
} %>


<!-- {
    code: this.code,
    id: this.auditId,
    title: this.auditData.title,
    failureTitle: this.auditData.failureTitle,
    description: this.auditData.description,
    scoreDisplayMode: this.SCORING_MODES.BINARY,
    requiredArtifacts: ["origin"],
}; -->

<div class="audit-content">
  <h2 class="h3 audit-title">
    <svg class="icon <%= status %>" aria-hidden="true">
      <use href="<%= icon %>"></use>
    </svg>
      <%=code%> - <%= mainTitle %>
  </h2>
  <div class="audit-description">

      <div class="accordion inner" id="collapse">
          <div class="accordion-item">
              <h2 class="accordion-header" id="accordion-inner-sch-privacy">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordion-collapse-sch-privacy" aria-expanded="false" aria-controls="accordion-collapse-sch-privacy">
                      Il sito della scuola deve presentare l'informativa sul trattamento dei dati personali, secondo quanto previsto dalla normativa vigente
                  </button>
              </h2>
              <div id="accordion-collapse-sch-privacy" class="accordion-collapse inner collapse" role="region" aria-labelledby="accordion-inner-sch-privacy">
                  <p>
                      <span class="h6 uppercase">Condizioni di successo:</span>
                      il sito presenta una voce nel footer che riporta a una pagina sicura riguardante l\'informativa sulla privacy;
                  </p>

                  <p>
                      <span class="h6 uppercase">Verifiche automatiche:</span>
                      viene verificata la presenza del link nel footer, che riporti a una pagina esistente e con certificato HTTPS valido e attivo, ricercando uno specifico attributo "data-element" come spiegato nella Documentazione delle App di valutazione;
                  </p>

                  <p>
                      <span class="h6 uppercase">RIFERIMENTI TECNICI E NORMATIVI:</span>
                      <a target="_blank" href="https://docs.italia.it/italia/designers-italia/design-scuole-docs/it/versione-corrente/index.html">Documentazione del Modello scuole</a>,
                      <a target="_blank" href="https://www.garanteprivacy.it/regolamentoue">GDPR Artt. 13 e 14, Reg. UE n. 2016/679</a>,
                      <a target="_blank" href="https://docs.italia.it/italia/designers-italia/app-valutazione-modelli-docs/it/versione-attuale/index.html">Documentazione delle App di valutazione</a>
                  </p>
              </div>
          </div>
      </div>

      <% if( !table.pagesInError.pages.length ) { %>
          <p>
              <span class="h5"> <%= statusMessage %> </span>
          </p>
      <% } %>

      <% if( table.pagesInError.pages.length ) { %>
          <p>
              <span class="h6 uppercase">Elementi di fallimento: </span><%= table.pagesInError.message %>
              %>
              <%- include('../../report/partials/audit/table', {table: table.pagesInError}) %>
          </p>
      <% } %>

      <% if( table.pagesItems.pages.length ) { %>
      <p>
          <%-  include('../../report/partials/audit/table', {table: table.pagesItems}) %>
      </p>
      <% } %>
  </div>
</div>