<%# 
    PARAMETERS NEEDED:
    - status: pass | average | fails
    - code: string
    - description?: string
    - minRequirement?: string
    - automaticChecks?: string
    - failures?: string
    - content: HTML template
%>
<%
let icon = "";
switch (status) {
case 'pass':
    icon = '#it-check-circle';
    break;

case 'fail':
    icon = '#it-error';
    break;

default:
    icon = '#it-info-circle';
    break;
} %>


<!-- {
    code: this.code,
    id: this.auditId,
    title: this.auditData.title,
    failureTitle: this.auditData.failureTitle,
    description: this.auditData.description,
    scoreDisplayMode: this.SCORING_MODES.BINARY,
    requiredArtifacts: ["origin"],
}; -->

<div class="audit-content">
  <h2 class="h3 audit-title">
    <svg class="icon <%= status %>" aria-hidden="true">
      <use href="<%= icon %>"></use>
    </svg>
      <%=code%> - <%= mainTitle %>
  </h2>
  <div class="audit-description">

    <div class="accordion inner" id="collapse">
      <div class="accordion-item">
        <h2 class="accordion-header" id="accordion-inner-sch-service">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordion-collapse-sch-service" aria-expanded="false" aria-controls="accordion-collapse-sch-service">
            Tutte le schede informative dei servizi devono mostrare le voci segnalate come obbligatorie all'interno dell'architettura dell'informazione, nell'ordine segnalato dal modello
          </button>
        </h2>
        <div id="accordion-collapse-sch-service" class="accordion-collapse inner collapse" role="region" aria-labelledby="accordion-inner-sch-service">
          <p>
            <span class="h6 uppercase">Verifiche automatiche:</span>
            ricercando specifici attributi \"data-element\" come spiegato nella Documentazione delle App di valutazione, la presenza e l'ordine delle voci richieste viene verificato ricercandoli all'interno della pagina e dell'indice. Per essere ritenute valide, le voci devono avere contenuti associati della tipologia indicata all'interno del documento di architettura dell'informazione. Maggiori dettagli sono indicati nella Documentazione delle App di valutazione;
          </p>
          <p>
            <span class="h6 uppercase">RIFERIMENTI TECNICI E NORMATIVI:</span>
            <a target="_blank" href="https://docs.italia.it/italia/designers-italia/design-scuole-docs">Documentazione del Modello scuole</a>,
            <a target="_blank" href="https://docs.google.com/spreadsheets/d/1MoayTY05SE4ixtgBsfsdngdrFJf_Z2KNvDkMF3tKfc8/edit#gid=0">Content type: scheda servizio</a>,
            <a target="_blank" href="https://docs.italia.it/italia/designers-italia/app-valutazione-modelli-docs/">Documentazione delle App di valutazione</a>
          </p>
        </div>
      </div>
    </div>

    <% if( !table.pagesInError.pages.length ) { %>
      <p>
        <span class="h5"> <%= statusMessage %> </span>
      </p>
    <% } %>

      <% if( table.pagesInError.pages.length ) { %>
    <p>
      <span class="h6 uppercase">Elementi di fallimento: </span><%=table.pagesInError.message %>
        <%-  include('../../report/partials/audit/table', {table: table.pagesInError}) %>
    </p>
    <% } %>
      <% if( table.wrongPages.pages.length ) { %>
      <p>
          <%-  include('../../report/partials/audit/table', {table : table.wrongPages}) %>
      </p>
      <% } %>
      <% if( table.tolerancePages.pages.length ) { %>
      <p>
          <%-  include('../../report/partials/audit/table', {table: table.tolerancePages}) %>
      </p>
      <% } %>
      <% if( table.correctPages.pages.length ) { %>
      <p>
          <%-  include('../../report/partials/audit/table', {table: table.correctPages}) %>
      </p>
      <% } %>

  </div>
</div>