<%# 
    PARAMETERS NEEDED:
    - status: pass | average | fails
    - code: string
    - description?: string
    - minRequirement?: string
    - automaticChecks?: string
    - failures?: string
    - content: HTML template
%>
<% 
 const audit = {
    status: "pass",
 }
const  {status} = audit;

let icon = "";
let message = "";
switch (status) {
case 'pass':
    icon = '#it-check-circle';
    message = "- Criterio superato";
    break;

case 'average':
    icon = '#it-warning-circle';
    message = "- Criterio nella media";
    break;

case 'fail':
    icon = '#it-error';
    message = "- Criterio non superato";
    break;

default:
    icon = '#it-info-circle';
    message = "";
    break;
} %>


<!-- {
    code: this.code,
    id: this.auditId,
    title: this.auditData.title,
    failureTitle: this.auditData.failureTitle,
    description: this.auditData.description,
    scoreDisplayMode: this.SCORING_MODES.BINARY,
    requiredArtifacts: ["origin"],
}; -->

<div class="audit-content">
  <h2 class="h3 audit-title">
    <svg class="icon <%= status %>" aria-hidden="true">
      <use href="<%= icon %>"></use>
    </svg>
      <%=code%> <%= message %>
  </h2>
  <div class="audit-description">


      <p>Il sito comunale deve esporre la dichiarazione di accessibilità in conformità al modello e alle linee guida rese disponibili da AgID in ottemperanza alla normativa vigente in materia di accessibilità e con livelli di accessibilità contemplati nelle specifiche tecniche WCAG 2.1.</p>
    <p>
      <span class="h6 uppercase">Requisito minimo da rispettare:</span>
        il sito presenta una voce nel footer che riporta a una dichiarazione di accessibilità AgID valida per il sito;
    </p>

    <p>
      <span class="h6 uppercase">Verifiche automatiche:</span>
        ricercando uno specifico attributo "data-element" come spiegato nella Documentazione delle App di valutazione, viene verificata la presenza del link nel footer, che riporti a una pagina esistente, che l'url della pagina di destinazione inizi con "https://form.agid.gov.it/view/" e che la pagina contenga l'url del sito del Comune; RIFERIMENTI TECNICI E NORMATIVI:
        <a href="https://docs.italia.it/italia/designers-italia/design-comuni-docs/">Documentazione del Modello Comuni</a>,
        <a href="https://docs.italia.it/AgID/documenti-in-consultazione/lg-accessibilita-docs/it/">AgID Linee guida sull’accessibilità degli strumenti informatici</a>,
        <a href="https://eur-lex.europa.eu/legal-content/IT/TXT/?uri=CELEX%3A32016L2102">Direttiva UE n. 2102/2016</a>,
        <a href="https://www.normattiva.it/atto/caricaDettaglioAtto?atto.dataPubblicazioneGazzetta=2004-01-17&atto.codiceRedazionale=004G0015&atto.articolo.numero=0&atto.articolo.sottoArticolo=1&atto.articolo.sottoArticolo1=10&qId=cb6b9a05-f5c3-40ac-81b8-f89e73e5b4c7&tabID=0.029511124589268523&title=lbl.dettaglioAtto">Legge 9 gennaio 2004 n. 4</a>,
        <a href="https://www.w3.org/Translations/WCAG21-it/#background-on-wcag-2">Web Content Accessibility Guidelines WCAG 2.1</a>,
        <a href="https://www.agid.gov.it/it/design-servizi/accessibilita/dichiarazione-accessibilita">AgID dichiarazione di accessibilità</a>,
        <a href="https://docs.italia.it/italia/designers-italia/app-valutazione-modelli-docs/">Documentazione delle App di valutazione</a>.',
    </p>
    <div class="separator"></div>

      <p>
          <span class="h6"> TESTO DA CAPIRE:  <%= statusMessage %> </span> %>
      </p>

      <% if( table.pagesItems.pages.length ) { %>
      <p>
          <%-  include('../../report/partials/audit/table', {table: table.pagesItems}) %>
      </p>
      <% } %>
  </div>
</div>