<%# 
    PARAMETERS NEEDED:
    - status: pass | average | fails
    - code: string
    - description?: string
    - minRequirement?: string
    - automaticChecks?: string
    - failures?: string
    - content: HTML template
%>
<%
let icon = "";
let message = "";
switch (status) {
    case 'pass':
        icon = '#it-check-circle';
        message = "- Criterio superato";
        break;

    case 'average':
        icon = '#it-warning-circle';
        message = "- Criterio nella media";
        break;

    case 'fail':
        icon = '#it-error';
        message = "- Criterio non superato";
        break;

    default:
        icon = '#it-info-circle';
        message = "";
        break;
} %>


<!-- {
    code: this.code,
    id: this.auditId,
    title: this.auditData.title,
    failureTitle: this.auditData.failureTitle,
    description: this.auditData.description,
    scoreDisplayMode: this.SCORING_MODES.BINARY,
    requiredArtifacts: ["origin"],
}; -->

<div class="audit-content">
    <h2 class="h3 audit-title">
        <svg class="icon <%= status %>" aria-hidden="true">
            <use href="<%= icon %>"></use>
        </svg>
        <%= code %> <%= message %>
    </h2>
    <div class="audit-description">

        <p>Il sito comunale deve utilizzare i font indicati dalla documentazione del modello di sito comunale.</p>
        <div class="separator"></div>

        <p>
            <span class="h6 uppercase">CONDIZIONI DI SUCCESSO: </span>
            tutti i titoli (heading) e tutti i paragrafi delle pagine del sito in lingua italiana utilizzano esclusivamente i font Titillium Web, Lora o Roboto Mono come font di default;
        </p>

        <p>
            <span class="h6 uppercase">Verifiche automatiche:</span>
            ricercando specifici attributi "data-element" come spiegato nella Documentazione delle App di valutazione, nelle pagine analizzate viene verificato che i font di default siano quelli richiesti all'interno di tutti gli &lt;h&gt; e &lt;p&gt;; RIFERIMENTI TECNICI E NORMATIVI:
            <a href="https://docs.italia.it/italia/designers-italia/design-comuni-docs/it/versione-corrente/conformita/conformita-modello-sito.html">Documentazione del Modello Comuni</a>,
            <a href="https://docs.italia.it/italia/designers-italia/app-valutazione-modelli-docs/">Documentazione delle App di valutazione</a>.</p>
        <div class="separator"></div>

        <p>
            <span class="h6"> <%= statusMessage %> </span>
            %>
        </p>

        <% if( table.pagesInError.pages.length ) { %>
        <p>
            <span class="h6 uppercase">Elementi di fallimento: <%= table.pagesInError.message %></span>
            %>
            <%- include('../../report/partials/audit/table', {table: table.pagesInError}) %>
        </p>
        <% } %>
        <% if( table.wrongPages.pages.length ) { %>
        <p>
            <%- include('../../report/partials/audit/table', {table : table.wrongPages}) %>
        </p>
        <% } %>

        <% if( table.tolerancePages.pages.length ) { %>
        <p>
            <%-  include('../../report/partials/audit/table', {table: table.tolerancePages}) %>
        </p>
        <% } %>

        <% if( table.correctPages.pages.length ) { %>
        <p>
            <%- include('../../report/partials/audit/table', {table: table.correctPages}) %>
        </p>
        <% } %>

    </div>
</div>