<%# 
    PARAMETERS NEEDED:
    - status: pass | average | fails
    - code: string
    - description?: string
    - minRequirement?: string
    - automaticChecks?: string
    - failures?: string
    - content: HTML template
%>
<%
let icon = "";
switch (status) {
    case 'pass':
        icon = '#it-check-circle';
        break;

    case 'fail':
        icon = '#it-error';
        break;

    default:
        icon = '#it-info-circle';
        break;
} %>


<!-- {
    code: this.code,
    id: this.auditId,
    title: this.auditData.title,
    failureTitle: this.auditData.failureTitle,
    description: this.auditData.description,
    scoreDisplayMode: this.SCORING_MODES.BINARY,
    requiredArtifacts: ["origin"],
}; -->

<div class="audit-content">
    <h2 class="h3 audit-title">
        <svg class="icon <%= status %>" aria-hidden="true">
            <use href="<%= icon %>"></use>
        </svg>
        <%=code%> - <%= mainTitle %>
    </h2>
    <div class="audit-description">


        <p>Il sito presenta le voci di menù di secondo livello come descritto nella documentazione del modello di sito della scuola.</p>
        <p>
            <span class="h6 uppercase">Condizioni di successo:</span>
            tutte le voci del menù di secondo livello usate fanno riferimento alla voce di primo livello corrispondente secondo quanto indicato nel documento di architettura dell'informazione del modello scuole;
        </p>
        <p>
            <span class="h6 uppercase">Verifiche automatiche:</span>
            ricercando specifici attributi "data-element" come spiegato nella Documentazione delle App di valutazione, vengono verificate le voci di secondo livello usate rispetto ad ognuna delle voci di primo livello del menù e che tutte le pagine raggiungibili dal menu di secondo livello appartengano al dominio della scuola. Nel conteggio vengono incluse anche le voci di secondo livello riferite a voci di primo livello non indicate nella documentazione. Inoltre, viene verificato che tutte le pagine raggiungibili dal menu di secondo livello portino a pagine interne al dominio del sito della scuola; RIFERIMENTI TECNICI E NORMATIVI: 
            <a href="https://docs.italia.it/italia/designers-italia/design-scuole-docs">Documentazione del Modello scuole</a>,      
            <a href="https://docs.italia.it/italia/designers-italia/app-valutazione-modelli-docs/">Documentazione delle App di valutazione</a>.
        </p>
        <div class="separator"></div>

        <p>
            <span class="h6"> <%= statusMessage %> </span>
        </p>

        <% if( table.pagesInError.pages.length ) { %>
            <p>
                <span class="h6 uppercase">Elementi di fallimento: <%= table.pagesInError.message %></span>
                %>
                <%- include('../../report/partials/audit/table', {table: table.pagesInError}) %>
            </p>
        <% } %>

        <% if( table.recapItems.pages.length ) { %>
            <p>
                <%- include('../../report/partials/audit/table', {table: table.recapItems}) %>
            </p>
        <% } %>

        <% if( table.pagesItems.pages.length ) { %>
            <p>
                <%- include('../../report/partials/audit/table', {table: table.pagesItems}) %>
            </p>
        <% } %>
    </div>
</div>