<%# 
    PARAMETERS NEEDED:
    - status: pass | average | fails
    - code: string
    - description?: string
    - minRequirement?: string
    - automaticChecks?: string
    - failures?: string
    - content: HTML template
%>
<%
let icon = "";
switch (status) {
  case 'pass':
    icon = '#it-check-circle';
    break;

  case 'fail':
    icon = '#it-error';
    break;

default:
    icon = '#it-info-circle';
    break;
} %>


<!-- {
    code: this.code,
    id: this.auditId,
    title: this.auditData.title,
    failureTitle: this.auditData.failureTitle,
    description: this.auditData.description,
    scoreDisplayMode: this.SCORING_MODES.BINARY,
    requiredArtifacts: ["origin"],
}; -->

<div class="audit-content">
  <h2 class="h3 audit-title">
    <svg class="icon <%= status %>" aria-hidden="true">
      <use href="<%= icon %>"></use>
    </svg>
    <%=code%> - <%= mainTitle %>
  </h2>
  <div class="audit-description">

    <div class="accordion inner" id="collapse">
      <div class="accordion-item">
        <h2 class="accordion-header" id="accordion-inner-mun-voc">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordion-collapse-mun-voc" aria-expanded="false" aria-controls="accordion-collapse-mun-voc">
            Il sito comunale deve utilizzare argomenti forniti dal modello di sito comunale ovvero quelli appartenenti al vocabolario controllato europeo EuroVoc
          </button>
        </h2>
        <div id="accordion-collapse-mun-voc" class="accordion-collapse inner collapse" role="region" aria-labelledby="accordion-inner-mun-voc">
          <p>
          <span class="h6 uppercase">Requisito minimo:</span>
            Almeno il 50% degli argomenti utilizzati appartengono al vocabolario controllato del modello, disponibile alla voce Tassonomia argomenti all’interno del
            <a target="_blank" href="https://designers.italia.it/files/resources/modelli/comuni/adotta-il-modello-di-sito-comunale/definisci-architettura-e-contenuti/Architettura-informazione-sito-Comuni.ods">documento di Architettura dell’informazione del modello Comuni (ODS 65KB)</a>, o al
            <a target="_blank" href="https://eur-lex.europa.eu/browse/eurovoc.html?locale=it">vocabolario controllato EuroVOC</a> e nell’homepage del sito è presente un link (ad esempio nominato “Tutti gli argomenti”) che invia a una pagina contenente l’elenco completo degli argomenti e il sito presenta i data attribute indicati nella
            <a target="_blank" href="https://docs.italia.it/italia/designers-italia/app-valutazione-modelli-docs/">Documentazione delle App di valutazione dell’adesione ai modelli</a> per questo criterio.          </p>
          <p>
            <span class="h6 uppercase">Verifiche automatiche:</span>
            gli argomenti identificati all'interno della pagina contenente l'elenco degli argomenti vengono confrontati con l'elenco di voci presente nel documento di architettura dell'informazione e con il vocabolario controllato EuroVoc, ricercandoli usando specifici attributi "data-element" come spiegato nella Documentazione delle App di valutazione;
          </p>

          <p>
            <span class="h6 uppercase">RIFERIMENTI TECNICI E NORMATIVI:</span>
            <a target="_blank" href="https://docs.italia.it/italia/designers-italia/design-comuni-docs/">Documentazione del Modello Comuni</a>,
            <a target="_blank" href="https://docs.google.com/spreadsheets/d/1D4KbaA__xO9x_iBm08KvZASjrrFLYLKX/edit#gid=428595160">Elenco degli argomenti del Modello Comuni</a>,
            <a target="_blank" href="https://eur-lex.europa.eu/browse/eurovoc.html?locale=it">Vocabolario EuroVoc</a>,
            <a target="_blank" href="https://docs.italia.it/italia/designers-italia/app-valutazione-modelli-docs/">Documentazione delle App di valutazione</a>
          </p>
        </div>
      </div>
    </div>

    <% if( table.pagesInError.pages.length ) { %>
      <p>
        <span class="h6 uppercase">Elementi di fallimento: </span><%= table.pagesInError.message %>
        <%- include('../../report/partials/audit/table', {table: table.pagesInError}) %>
      </p>
    <% } %>

      <% if( table.pagesItems.pages.length ) { %>
      <p>
          <%-  include('../../report/partials/audit/table', {table: table.pagesItems}) %>
      </p>
      <% } %>
  </div>
</div>