<div class="table-wrapper">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>
                Pagina in errore
            </th>
            <th>
                Errore
            </th>
            <th>
                Criteri
            </th>
        </tr>
        </thead>
        <tbody>
        <% items.forEach(item => { %>
            <tr>
                <% Object.keys(item).forEach(element => { %>
                    <td>
                        <% if(element == 'link' && item[element] && item[element].includes('https://temppagenotavailable/')) { %>
                            Pagina non trovata (<%= item[element].replace('https://temppagenotavailable/', '') %>)
                        <% } else { %>
                            <% if(element == 'link' && item[element] && item[element] !== '#') { %>
                                <% try { %>
                                    <% const url = new URL(item[element]); %>
                                    <a target="_blank" href="<%= url %>">
                                        <%= url.pathname === '/' ? url : url.pathname %>
                                    </a>
                                <% } catch (error) { %>
                                    <%= item[element] %> <!-- Fallback for invalid URLs -->
                                <% } %>
                            <% }else{ %>
                            <%=item[element]%>
                            <%} %>
                            <%} %>
                </td>
                    <%}); %>
            </tr>
        <% }); %>
        </tbody>
    </table>
</div>