<%# 
    PARAMETERS NEEDED:
    - status: pass | average | fails
    - code: string
    - description?: string
    - minRequirement?: string
    - automaticChecks?: string
    - failures?: string
    - content: HTML template
%>
<% 
 const audit = {
    status: "pass",
 }
const  {status} = audit;

let icon = "";
let message = "";
switch (status) {
case 'pass':
    icon = '#it-check-circle';
    message = "- Criterio superato";
    break;

case 'average':
    icon = '#it-warning-circle';
    message = "- Criterio nella media";
    break;

case 'fail':
    icon = '#it-error';
    message = "- Criterio non superato";
    break;

default:
    icon = '#it-info-circle';
    message = "";
    break;
} %>


<!-- {
    code: this.code,
    id: this.auditId,
    title: this.auditData.title,
    failureTitle: this.auditData.failureTitle,
    description: this.auditData.description,
    scoreDisplayMode: this.SCORING_MODES.BINARY,
    requiredArtifacts: ["origin"],
}; -->

<div class="audit-content">
  <h2 class="h3 audit-title">
    <svg class="icon <%= status %>" aria-hidden="true">
      <use href="<%= icon %>"></use>
    </svg>
    <%= code %> <%= message %>
  </h2>
  <div class="audit-description">
  
    <p><%= mainDescription  %></p>
    <div class="separator"></div>
    
    <% if (!metrics) {%>
    <p>
      <span class="h6 uppercase">Requisito minimo da rispettare:</span> 
      <%= minRequirement  %>
    </p>

    <p>
      <span class="h6 uppercase">Verifiche automatiche:</span> 
      <%= automaticChecks  %>
    </p>
    <div class="separator"></div>

    <p>
      <span class="h6"> <%= statusMessage %> </span> %>
    </p>
    <% }%>
    <% if ( metrics ) { %>
      <%-  include('../metrics', { metrics, totalPercentage }) %>
    <% } %>

    <!-- <p>
      <span class="h6 uppercase">Elementi di fallimento:</span> %>
    </p> -->
    <!-- 
    <% //- include('table', {table}) %>
     -->
  </div>
</div>