<%# 
    PARAMETERS NEEDED:
    - status: pass | average | fails
    - code: string
    - description?: string
    - minRequirement?: string
    - automaticChecks?: string
    - failures?: string
    - content: HTML template
%>
<%
let icon = "";
switch (status) {
case 'pass':
    icon = '#it-check-circle';
    break;

case 'fail':
    icon = '#it-error';
    break;

default:
    icon = '#it-info-circle';
    break;
} %>


<!-- {
    code: this.code,
    id: this.auditId,
    title: this.auditData.title,
    failureTitle: this.auditData.failureTitle,
    description: this.auditData.description,
    scoreDisplayMode: this.SCORING_MODES.BINARY,
    requiredArtifacts: ["origin"],
}; -->

<div class="audit-content">
  <h2 class="h3 audit-title">
    <svg class="icon <%= status %>" aria-hidden="true">
      <use href="<%= icon %>"></use>
    </svg>
      <%=code%> - <%= mainTitle %>
  </h2>
  <div class="audit-description">

    <div class="accordion inner" id="collapse">
      <div class="accordion-item">
        <h2 class="accordion-header" id="accordion-inner-ip">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordion-collapse-ip" aria-expanded="false" aria-controls="accordion-collapse-ip">
            Il sito comunale deve consentire al cittadino di fornire una valutazione della chiarezza di ogni pagina di primo e secondo livello
          </button>
        </h2>
        <div id="accordion-collapse-ip" class="accordion-collapse inner collapse" role="region" aria-labelledby="accordion-inner-ip">
          <p>
            <span class="h6 uppercase">CONDIZIONI DI SUCCESSO:</span>
            la funzionalità per valutare la chiarezza informativa è presente su tutte le pagine di primo e secondo livello del sito e rispetta tutte le caratteristiche e i passaggi richiesti;
          </p>
          <p>
            <span class="h6 uppercase">Verifiche automatiche:</span>
            ricercando specifici attributi "data-element" come spiegato nella Documentazione delle App di valutazione, viene verificata la presenza del componente di valutazione nelle pagine di primo e di secondo livello, controllando che la funzionalità abbia le caratteristiche richieste nella documentazione;

          </p>
          <p>
            <span class="h6 uppercase">RIFERIMENTI TECNICI E NORMATIVI:</span>
            <a href="https://docs.italia.it/italia/designers-italia/design-comuni-docs/it/versione-corrente/index.html">Documentazione del Modello Comuni</a>,
            <a href="https://op.europa.eu/en/publication-detail/-/publication/333fe21f-4372-11ec-89db-01aa75ed71a1">eGovernment benchmark method paper 2020-2023</a>,
            <a href="https://docs.italia.it/italia/designers-italia/app-valutazione-modelli-docs/it/versione-attuale/index.html">Documentazione delle App di valutazione</a>
          </p>
        </div>
      </div>
    </div>

    <% if( !table.pagesInError.pages.length ) { %>
      <p>
        <span class="h5"> <%= statusMessage %> </span>
      </p>
    <% } %>

      <% if( table.pagesInError.pages.length ) { %>
    <p>
      <span class="h6 uppercase">Elementi di fallimento: <%=table.pagesInError.message %></span> %>
        <%-  include('../../report/partials/audit/table', {table: table.pagesInError}) %>
    </p>
    <% } %>
      <% if( table.wrongPages.pages.length ) { %>
      <p>
          <%-  include('../../report/partials/audit/table', {table : table.wrongPages}) %>
      </p>
      <% } %>
      <% if( table.tolerancePages.pages.length ) { %>
      <p>
          <%-  include('../../report/partials/audit/table', {table: table.tolerancePages}) %>
      </p>
      <% } %>
      <% if( table.correctPages.pages.length ) { %>
      <p>
          <%-  include('../../report/partials/audit/table', {table: table.correctPages}) %>
      </p>
      <% } %>

  </div>
</div>