<%# 
    PARAMETERS NEEDED:
    - status: pass | average | fails
    - code: string
    - description?: string
    - minRequirement?: string
    - automaticChecks?: string
    - failures?: string
    - content: HTML template
%>
<%
let icon = "";
let message = "";
switch (status) {
case 'pass':
    icon = '#it-check-circle';
    message = "- Criterio superato";
    break;

case 'fail':
    icon = '#it-error';
    message = "- Criterio non superato";
    break;

default:
    icon = '#it-info-circle';
    message = "";
    break;
} %>


<!-- {
    code: this.code,
    id: this.auditId,
    title: this.auditData.title,
    failureTitle: this.auditData.failureTitle,
    description: this.auditData.description,
    scoreDisplayMode: this.SCORING_MODES.BINARY,
    requiredArtifacts: ["origin"],
}; -->

<div class="audit-content">
    <h2 class="h3 audit-title">
        <svg class="icon <%= status %>" aria-hidden="true">
            <use href="<%= icon %>"></use>
        </svg>
        <%= mainTitle %>
    </h2>
  <div class="audit-description">
      <div class="accordion inner" id="collapse">
              <div class="accordion-item">
                  <h2 class="accordion-header" id="accordion-inner-ip">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordion-collapse-ip" aria-expanded="false" aria-controls="accordion-collapse-ip">
                          Il sito deve essere ospitato su datacenter localizzati su territorio europeo
                      </button>
                  </h2>
                  <div id="accordion-collapse-ip" class="accordion-collapse inner collapse" role="region" aria-labelledby="accordion-inner-ip">

                      <p>
                          <span class="h6 uppercase">Verifiche automatiche:</span>
                          verifica che la localizzazione dell'IP rientri all'interno di uno dei confini degli stati membri dell'UE;
                      </p>

                      <p>
                          <span class="h6 uppercase">RIFERIMENTI TECNICI E NORMATIVI:</span>
                          GDPR
                      </p>
                  </div>
              </div>
      </div>

      <p>
          <span class="h5"> <%= statusMessage %> </span>
      </p>

      <% if( table.pagesInError.pages.length ) { %>
          <p>
              <span class="h6 uppercase">Elementi di fallimento: </span> <%= table.pagesInError.message %>
              <%- include('../../report/partials/audit/table', {table: table.pagesInError}) %>
          </p>
      <% } %>

      <% if( table.pagesItems.pages.length ) { %>
      <p>
          <%-  include('../../report/partials/audit/table', {table: table.pagesItems}) %>
      </p>
      <% } %>
  </div>
</div>