<%# 
    PARAMETERS NEEDED:
    - status: pass | average | fails
    - code: string
    - description?: string
    - minRequirement?: string
    - automaticChecks?: string
    - failures?: string
    - content: HTML template
%>
<%
let icon = "";
let message = "";
switch (status) {
  case 'pass':
    icon = '#it-check-circle';
    message = "- Criterio superato";
    break;

case 'average':
    icon = '#it-warning-circle';
    message = "- Criterio nella media";
    break;

case 'fail':
    icon = '#it-error';
    message = "- Criterio non superato";
    break;

default:
    icon = '#it-info-circle';
    message = "";
    break;
} %>


<!-- {
    code: this.code,
    id: this.auditId,
    title: this.auditData.title,
    failureTitle: this.auditData.failureTitle,
    description: this.auditData.description,
    scoreDisplayMode: this.SCORING_MODES.BINARY,
    requiredArtifacts: ["origin"],
}; -->

<div class="audit-content">
  <h2 class="h3 audit-title">
    <svg class="icon <%= status %>" aria-hidden="true">
      <use href="<%= icon %>"></use>
    </svg>
      <%=code%> <%= message %>
  </h2>
  <div class="audit-description">


    <p>Il sito della scuola deve utilizzare argomenti forniti dal modello di sito scuola.</p>
    <p>
    <span class="h6 uppercase">Condizioni di successo:</span>
    gli argomenti utilizzati appartengono alla lista indicata all'interno del documento di architettura dell'informazione del modello scuole alla voce \"Le parole della scuola\"  e l’elenco completo degli argomenti utilizzati è presente nella pagina dei risultati di ricerca;
    </p>

    <p>
      <span class="h6 uppercase">Verifiche automatiche:</span>
      gli argomenti identificati all'interno della funzione di ricerca del sito vengono confrontati con l'elenco di voci presente nel documento di architettura dell'informazione, ricercandoli usando specifici attributi \"data-element\" come spiegato nella Documentazione delle App di valutazione; RIFERIMENTI TECNICI E NORMATIVI: 
      <a href="https://docs.italia.it/italia/designers-italia/design-scuole-docs">Documentazione del Modello scuole</a>,
      <a href="https://docs.google.com/spreadsheets/d/1MoayTY05SE4ixtgBsfsdngdrFJf_Z2KNvDkMF3tKfc8/edit#gid=2135815526">Elenco degli argomenti del Modello scuole</a>,
      <a href="https://docs.italia.it/italia/designers-italia/app-valutazione-modelli-docs/">Documentazione delle App di valutazione</a>,
    </p>
    <div class="separator"></div>

      <p>
          <span class="h6"> <%= statusMessage %> </span> %>
      </p>

      <% if( table.pagesItems.pages.length ) { %>
      <p>
          <%-  include('../../report/partials/audit/table', {table: table.pagesItems}) %>
      </p>
      <% } %>
  </div>
</div>