<%# 
    PARAMETERS NEEDED:
    - status: pass | average | fails
    - code: string
    - description?: string
    - minRequirement?: string
    - automaticChecks?: string
    - failures?: string
    - content: HTML template
%>
<%
let icon = "";
switch (status) {
    case 'pass':
        icon = '#it-check-circle';
        break;

    case 'fail':
        icon = '#it-error';
        break;

    default:
        icon = '#it-info-circle';
        break;
} %>


<!-- {
    code: this.code,
    id: this.auditId,
    title: this.auditData.title,
    failureTitle: this.auditData.failureTitle,
    description: this.auditData.description,
    scoreDisplayMode: this.SCORING_MODES.BINARY,
    requiredArtifacts: ["origin"],
}; -->

<div class="audit-content">
    <h2 class="h3 audit-title">
        <svg class="icon <%= status %>" aria-hidden="true">
            <use href="<%= icon %>"></use>
        </svg>
        <%=code%> - <%= mainTitle %>
    </h2>
    <div class="audit-description">

        <div class="accordion inner" id="collapse">
            <div class="accordion-item">
                <h2 class="accordion-header" id="accordion-inner-mun-theme">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordion-collapse-mun-theme" aria-expanded="false" aria-controls="accordion-collapse-mun-theme">
                        Nel caso in cui il sito utilizzi un tema messo a disposizione nella documentazione del modello di sito comunale, lo utilizza nella versione 1.0 o successive
                    </button>
                </h2>
                <div id="accordion-collapse-mun-theme" class="accordion-collapse inner collapse" role="region" aria-labelledby="accordion-inner-mun-theme">
                    <p>
                        <span class="h6 uppercase">Requisito minimo:</span>
                        Il sito non utilizza un tema CMS del modello Comuni
                    </p>

                    <p>
                        <span class="h6 uppercase">Verifiche automatiche:</span>
                        viene verificato l'uso del tema CMS del modello e la versione in uso ricercando uno specifico testo all'interno di tutti i file .CSS presenti in pagina. Lo specifico testo ricercato viene indicato nella Documentazione delle App di valutazione;
                    </p>

                    <p>
                        <span class="h6 uppercase">RIFERIMENTI TECNICI E NORMATIVI:</span>
                        <a target="_blank" href="https://docs.italia.it/italia/designers-italia/design-comuni-docs/it/versione-corrente/index.html">Documentazione del Modello Comuni</a>,
                        <a target="_blank" href="https://docs.italia.it/italia/designers-italia/app-valutazione-modelli-docs/it/versione-attuale/index.html">Documentazione delle App di valutazione</a>
                    </p>
                </div>
            </div>
        </div>

        <% if( table.pagesInError.pages.length ) { %>
            <p>
                <span class="h6 uppercase">Elementi di fallimento: </span><%= table.pagesInError.message %>
                <%- include('../../report/partials/audit/table', {table: table.pagesInError}) %>
            </p>
        <% } %>

        <% if( table.pagesItems.pages.length ) { %>
            <p>
                <%- include('../../report/partials/audit/table', {table: table.pagesItems}) %>
            </p>
        <% } %>
    </div>
</div>