<%# 
    PARAMETERS NEEDED:
    - status: pass | average | fails
    - code: string
    - description?: string
    - minRequirement?: string
    - automaticChecks?: string
    - failures?: string
    - content: HTML template
%>
<%
let icon = "";
switch (status) {
case 'pass':
    icon = '#it-check-circle';
    break;

case 'fail':
    icon = '#it-error';
    break;

default:
    icon = '#it-info-circle';
    break;
} %>


<!-- {
    code: this.code,
    id: this.auditId,
    title: this.auditData.title,
    failureTitle: this.auditData.failureTitle,
    description: this.auditData.description,
    scoreDisplayMode: this.SCORING_MODES.BINARY,
    requiredArtifacts: ["origin"],
}; -->

<div class="audit-content">
  <h2 class="h3 audit-title">
    <svg class="icon <%= status %>" aria-hidden="true">
      <use href="<%= icon %>"></use>
    </svg>
      <%=code%> - <%= mainTitle %>
  </h2>
  <div class="audit-description">

      <div class="accordion inner" id="collapse">
          <div class="accordion-item">
              <h2 class="accordion-header" id="accordion-inner-sch-boot">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordion-collapse-sch-boot" aria-expanded="false" aria-controls="accordion-collapse-sch-boot">
                      Il sito della scuola deve utilizzare la libreria Bootstrap Italia in una versione più recente di 1.6
                  </button>
              </h2>
              <div id="accordion-collapse-sch-boot" class="accordion-collapse inner collapse" role="region" aria-labelledby="accordion-inner-sch-boot">
                  <p>
                      <span class="h6 uppercase">Requisito minimo:</span>
                      la libreria Bootstrap Italia è presente e in uso in una versione uguale o superiore alla 1.6;
                  </p>

                  <p>
                      in ogni pagina analizzata viene verificata la presenza della libreria Bootstrap Italia e la versione in uso, individuando la proprietà CSS --bootstrap-italia-version all’interno del selettore :root o la variabile globale window.BOOTSTRAP_ITALIA_VERSION. Inoltre deve utilizzare almeno una tra le classi CSS di Bootstrap Italia indicate nella Documentazione dell'App di valutazione;
                  </p>

                  <p>
                      <span class="h6 uppercase">RIFERIMENTI TECNICI E NORMATIVI:</span>
                      <a target="_blank" href="https://docs.italia.it/italia/designers-italia/design-scuole-docs">Documentazione del Modello scuole</a>
                  </p>
              </div>
          </div>
      </div>

      <% if( !table.pagesInError.pages.length ) { %>
          <p>
              <span class="h5"> <%= statusMessage %> </span>
          </p>
      <% } %>

    <% if( table.pagesInError.pages.length ) { %>
        <p>
        <span class="h6 uppercase">Elementi di fallimento: </span> <%=table.pagesInError.message %>
            <%-  include('../../report/partials/audit/table', {table: table.pagesInError}) %>
        </p>
    <% } %>
    <% if( table.wrongPages.pages.length ) { %>
      <p>
          <%-  include('../../report/partials/audit/table', {table : table.wrongPages}) %>
      </p>
    <% } %>
    <% if( table.correctPages.pages.length ) { %>
      <p>
          <%-  include('../../report/partials/audit/table', {table: table.correctPages}) %>
      </p>
    <% } %>

  </div>
</div>